@import '~antd/dist/antd.css';

.app {
  padding: 20px 5px 50px;
  overflow-y: hidden;
  text-align: center;
}

.header {
  background-color: #006ab7;
  padding: 5px 0;
  text-align: center;
}

.header h1 {
  color: #f7f7f7;
  font-weight: bold;
}
