.player-cards {
	overflow-y: auto;
	height: 100%;

	&.placeholder, &.placeholder:hover {
		height: 161px;
		background-color: rgba(208,208,208,1);
  }
}

.player {
	width: 90%;
	margin: 0 auto 10px;
	background: #fff;
	min-height: 100px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	transition: 0.15s;
	cursor: pointer;

	&:hover {
		background: #f7f7f7;
  }
}
